# Dependencies
client/node_modules
server/node_modules
node_modules

# Build outputs
client/dist
server/dist
dist

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local
server/.env
client/.env

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
.idea
